body { 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-image: url("../img/geometry2.png");
 }

#submitbtn {
	background-color: #3699ef;
	margin-left: 1em;
	align-self: center;
}

#uploadProcess {
	visibility:hidden;
	text-align:center;
}

.upload-box {
	margin: auto;
	margin-top: 1em;
	width: 25em;
	outline-style: dashed;
 	outline-color: #3699ef;
 	padding: 1em;
}

.progress-box {
	margin: auto;
	margin-top: 1em;
 	padding: 1em;
 	width: 30em;
 	text-align: center;
}

